<section class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-5 gap-4">
  <div
    class="col-span-2 mb-2 lg:mb-0 md:col-span-4 lg:col-span-2 overflow-hidden rounded-lg h-[200px] md:h-[300px] lg:h-auto"
  >
    <img
      src="/images/banner01.webp"
      alt="Promoción Tercer Tiempo"
      class="w-full h-full object-cover"
    />
  </div>

  @for (product of products().slice(0, 4); track product.id; let i = $index) {
    <div class="col-span-1" [class.lg:hidden]="i === 3">
      <app-product-card [product]="product" />
    </div>
  }
</section>
