<section class="py-6">
  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    @for (category of categories; track category.name) {
      <a
        [routerLink]="['/products']"
        [queryParams]="{ category: category.name }"
        class="group relative block overflow-hidden rounded-md-lg aspect-3/2"
      >
        <img
          [src]="category.imageUrl"
          [alt]="category.name"
          class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
        />
        <div
          class="absolute inset-0 bg-linear-to-t from-black/80 via-black/20 to-transparent flex items-end p-4"
        >
          <span class="text-white font-medium text-base md:text-sm lg:text-base leading-tight">{{
            category.name
          }}</span>
        </div>
      </a>
    }
  </div>
</section>
