<div class="mx-auto w-full max-w-[1600px]">
  <div class="px-6 py-10">
    <app-hero-section />
  </div>
  <div class="px-6">
    <app-trust-bar />
  </div>

  <div class="px-6 py-10">
    <app-collection-section
      title="Categorías"
      [items]="categories()"
      [loading]="categoriesLoading()"
      [error]="categoriesError()"
      itemClass="w-[calc(80%-0.5rem)] md:w-[calc(25%-1rem)]"
      [viewAllRoute]="['/products']"
      [viewAllQueryParams]="{ category: 'all' }"
    >
      <ng-template let-category>
        <app-collection-card
          [imageUrl]="category.imageUrl ?? null"
          [name]="category.name"
          [route]="['/products']"
          [queryParams]="{ category: category.id }"
        />
      </ng-template>
    </app-collection-section>
  </div>

  <div class="px-6 py-10">
    <app-audience-section />
  </div>

  <div class="px-6 py-10">
    <app-product-carousel
      title="Nuevos productos"
      [viewAllRoute]="'/products'"
      [viewAllQueryParams]="{ sort: 'createdAt,desc' }"
      [products]="newArrivals()"
      [loading]="newArrivalsLoading()"
      [error]="newArrivalsError()"
    />
  </div>

  <div class="px-6 py-10">
    <app-featured-dual
      [primary]="{ imageUrl: '/images/featured-korg.webp', slug: 'korg-phase-8' }"
      [secondary]="{ imageUrl: '/images/featured-helix.webp', slug: 'helix' }"
    />
  </div>

  <div class="px-6 py-10">
    <app-collection-section
      title="Marcas"
      [items]="brands()"
      [loading]="brandsLoading()"
      [error]="brandsError()"
      [viewAllRoute]="['/brand']"
      [viewAllQueryParams]="{ brand: brands }"
      itemClass="w-[calc(80%-0.5rem)] md:w-[calc(25%-1rem)]"
    >
      <ng-template let-brand>
        <app-collection-card
          [imageUrl]="brand.logoUrl ?? null"
          [name]="brand.name"
          [route]="['/products']"
          [queryParams]="{ brand: brand.id }"
        />
      </ng-template>
    </app-collection-section>
  </div>

  <div class="px-6 py-10">
    <app-product-carousel
      title="Los más vendidos"
      [viewAllRoute]="'/products'"
      [viewAllQueryParams]="{ sort: 'price,desc' }"
      [products]="bestsellers()"
      [loading]="bestsellersLoading()"
      [error]="bestsellersError()"
    />
  </div>

  <div class="px-6 py-10">
    <app-audience-section />
  </div>

  <div class="px-6 py-10">
    <app-product-carousel
      title="Ofertas"
      [viewAllRoute]="'/products'"
      [viewAllQueryParams]="{ sort: 'createdAt,desc' }"
      [products]="hotDeals()"
      [loading]="hotDealsLoading()"
      [error]="hotDealsError()"
    />
  </div>

  <div class="px-6 py-10">
    <app-callout-signup />
  </div>
  <div class="px-6 py-10">
    <app-testimonials />
  </div>
</div>
