@import 'tailwindcss';

@theme {
  --color-jackson-white: #ffffff;
  --color-jackson-orange: #ff4300;
  --color-jackson-orange-hover: #e03b00;
  --color-jackson-orange-disabled: #ff9873;
  --color-jackson-navy: #023047;
  --color-jackson-navy-hover: #01202f;
  --color-jackson-charcoal: #243037;
  --color-jackson-text-secondary: #5c6670;

  --font-manrope: 'Manrope', sans-serif;
}

@layer base {
  html {
    font-size: 80%;
  }

  body {
    font-family: var(--font-manrope);
    font-weight: 400;
    color: var(--color-jackson-charcoal);
    background-color: var(--color-jackson-white);
    line-height: 1.5;
  }

  :focus-visible {
    outline: 2px solid var(--color-jackson-navy);
    outline-offset: 2px;
  }

  ::placeholder {
    color: var(--color-jackson-text-secondary);
  }

  @media (width >= 820px) {
    html {
      font-size: 80%;
    }
  }

  @media (width >= 1024px) {
    html {
      font-size: 100%;
    }
  }
}

@utility scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@utility animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 50s linear infinite;
}

@layer components {
  .form-input {
    @apply w-full bg-white px-4 py-2.5 text-sm border border-gray-200 rounded-md outline-none focus:border-jackson-orange transition-colors;
  }
  .form-select {
    @apply w-full bg-white text-jackson-charcoal px-4 py-2.5 text-sm border border-gray-200 rounded-md outline-none focus:border-jackson-orange transition-colors;
  }
}
