<div class="grid grid-cols-1 gap-6 lg:grid-cols-5">
  <div class="lg:col-span-2">
    <a
      [routerLink]="bannerRouterLink"
      [queryParams]="bannerQueryParams"
      class="block w-full h-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-jackson-surface rounded-md"
      aria-label="Ir a la promoción del banner"
    >
      <div
        class="bg-jackson-surface bg-cover bg-center rounded-md aspect-4/3 md:aspect-6/3 lg:aspect-4/3"
        [style.backgroundImage]="'url(' + bannerImageUrl + ')'"
      ></div>
    </a>
  </div>

  <div class="relative lg:col-span-3 lg:h-full">
    <app-product-carousel
      class="block h-full"
      [products]="products()"
      [loading]="loading()"
      [error]="error()"
      cardWidthClass="w-[calc(80%-0.5rem)] sm:w-[calc(50%-0.5rem)] md:w-[calc(25%-1rem)] lg:w-[calc(37%-1rem)]"
    />
  </div>
</div>
